In [15]:
# max row, columns 셋팅
import pandas as pd
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 500)
import numpy as np
from pandas import DataFrame, Series
import os
import datetime
import re
######################mapping 표 불러오기################

sheet=[' Global  IM_Wearable Visit',' GDC  Smart Watch Total Visit',' GDC  Hearable Total Visit']

allpage=Series()
for i in range(0,len(sheet)):
    allpage[sheet[i]]= pd.read_excel('C:/Users/cnxk/im_wearable.xlsx',

                              sheet_name = sheet[i], 

                              header = 1, 

                              thousands = ','  )   
    allpage[sheet[i]]=allpage[sheet[i]].dropna(axis=1,how='all')#첫째열은 전체 빈행->삭제해주기

C:\Users\cnxk\anaconda3\lib\site-packages\ipykernel_launcher.py:14: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

In [16]:
allpage

 Global  IM_Wearable Visit                                            All Page ...
 GDC  Smart Watch Total Visit                                       All Page Tr...
 GDC  Hearable Total Visit                          All Page Track (p6)  294853...
dtype: object

In [24]:
a=allpage[' Global  IM_Wearable Visit']
a

                                     All Page Track (p6)  808330658
0                                         product detail  526947571
1                                         product finder  194820492
2                               product category details   74643542
3                                   product offer detail   67084829
4                                         product search   38789901
...                                                  ...        ...
11121   br:campaign:seda:style-s51-pro:home:loadtime:692          1
11122  br:campaign:seda:style-s51-pro:mobile:home:loa...          1
11123  br:campaign:seda:style-s51:mobile:home:loadtim...          1
11124  br:campaign:seda:style-s51-pro:mobile:home:loa...          1
11125  br:campaign:seda:a80-free-fire:mobile:main:loa...          1

[11126 rows x 2 columns]

In [18]:
b=allpage[' GDC  Smart Watch Total Visit']

In [20]:
c=allpage[' GDC  Hearable Total Visit']

In [27]:
d = pd.merge(a,b, left_on='All Page Track (p6)', right_on='All Page Track (p6)', how='outer')

In [28]:
join = pd.merge(d,c, left_on='All Page Track (p6)', right_on='All Page Track (p6)', how='outer')

In [29]:
join

                    All Page Track (p6)    808330658    45192403    29485360
0                        product detail  526947571.0  37483542.0  26833858.0
1                        product finder  194820492.0         NaN   3195851.0
2              product category details   74643542.0         NaN   1140190.0
3                  product offer detail   67084829.0     48304.0    315767.0
4                        product search   38789901.0       107.0   1274683.0
...                                 ...          ...         ...         ...
15797  styling-your-home-around-suhd-tv          NaN         NaN         1.0
15798                            a71a51          NaN         NaN         1.0
15799                      smarrtphones          NaN         NaN         1.0
15800                     tallk estudio          NaN         NaN         1.0
15801                   picture-quality          NaN         NaN         1.0

[15802 rows x 4 columns]